<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Voice Ready</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  <div class="container">
    <div class="leftside">
      <video id="video" autoplay playsinline></video>
      <canvas id="canvas" style="display:none;"></canvas>
      <div id="detected-text">*Click to start*</div>
    </div>
    <div class="rightside">
      <div class="instr">
        <h1 id="ttl">Are you ready?</h1>
        <img src="{{ url_for('static', filename='art/standin.gif') }}" alt="Ready GIF" id="readyGif">
        <button id="startBtn">Start</button>
        <button id="stopBtn">Stop</button>
      </div>
    </div>
  </div>
  <script>
    function changeGif() {
      document.getElementById("readyGif").src = "{{ url_for('static', filename='art/utkata_konasana.gif') }}";
    }
  </script>
  <script src="../static/script.js"></script>
</body>
</html>
