<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='../static/art/lotuslogo.png') }}"
    />
      <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Training Score</title>
      <link rel="stylesheet" href="../static/score.css">
  </head>
  <body>
    <h1 class="pixel">Training Complete!</h1>
    <div class="score" id="scoreText"></div>
    <div class="message" id="messageText"></div>
    <br>
    <div class="buttons">
        <button id="home" style="background: linear-gradient(#5398fa, #2468b6)" onclick="goToHome()">Go Home</button>
        <button id="tryagain" style="background: linear-gradient(#ffdc00, #cf9f18)" onclick="trainAgain()">Try Again</button>
    </div>

    <script src="../static/js/script_score.js"></script>
  </body>
</html>
